body {
    background-image: url(../img/rogue_one_deathstar3.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100%;
    background-attachment: fixed;
}

header {
    margin: 300px auto;
}

footer {
    height: 100px;
    p {
        text-align: center;
        padding-top: 20px; 
    }
}

main {
    padding: 1em 0 15em 0;
    width: 75%;
    background: rgba(255, 255, 255, 0.4);
    margin: auto;
    
    article {
        margin: 2em;
    } 
    
    aside {
        margin-right: 2em
    }
    
     a:link, 
    a:visited {
        color: 91b0c3
    }
}


//Video Player Styling
video {
    display: block;
    max-width: 100%;
    width: 100%;
}