body {
    background-image: url(../img/rogue_one_deathstar3.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100%;
    background-attachment: fixed;
}

header {
    margin: 250px auto;
    
    h1 {
    color: firebrick;
    font-family: 'Cinzel', serif;
    font-size: 7em;
    margin: 25px;
    text-transform: uppercase;
    text-align: center; 
    }
    
    h2 {
        font-size: 2em;
        text-align: center;
        text-transform: uppercase;
    }
}

footer {
    height: 300px;
    p {
        text-align: center;
        padding-top: 200px; 
    }
}


//Video Player Styling
video {
    display: block;
    max-width: 100%;
    width: 100%;
}