body {
    background-image: url(../img/rogue_one_deathstar3.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100%;
    background-attachment: fixed;
}

header {
    margin: 300px auto;
}

footer {
    height: 300px;
    p {
        text-align: center;
        padding-top: 200px; 
    }
}


//Video Player Styling
video {
    display: block;
    max-width: 100%;
    width: 100%;
}