// Typography

@import url('https://fonts.googleapis.com/css?family=Hind+Madurai');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Cinzel');

header {
    h1 {
        color: rgba(255, 255, 255, 0.8);
        font-family: 'Cinzel', serif;
        font-size: 7em;
        letter-spacing: 0.15em;
        margin: 25px;
        text-transform: uppercase;
        text-align: center; 
        }
    
    h2 {
        color: rgba(255, 255, 255, 0.8);
        font-family: 'Cinzel', serif;
        font-size: 2em;
        letter-spacing: 0.1em;
        text-align: center;
        text-transform: uppercase;
        }
    
}

main {
    color: #042838;
    
    h2 {
        font-family: 'Cinzel', serif;
        font-size: 2em;
        letter-spacing: 0.1em;
    }
    
    p {
        font-family: 'Hind Madurai', sans-serif;
        font-size: 1em;
    }
    
    a:link, 
    a:visited {
        color: 91b0c3
    }
    
}

